* {
    font-family: Verdana;
}
.meal-card {
    min-height: 4em;
    height: 100%;
    background-color: azure;
    padding: 0.5em;
    border: 1px solid saddlebrown;
    border-radius-topleft: 0.4em;
    border-radius-bottomright: 0.4em;

}

.meal-time-header {
    font-weight: bold;
    font-family: Gill Sans;
    font-size: 160%;
    text-align: left;
}

.meal-grid {
    margin: 0 !important;
}

.meal-grid > .row {
    justify-content: space-between !important;
}

.meal-row {
    padding: 0em !important;
}

.meal-column {
    height: 100%;
}

.expand-meal {
    float: right;
}

.meal-title {
    font-weight: bold;
}
.meal-name {
}